@import '../../../mixins/mixins';
@import '../../../mixins/palette';

@import '../../../../node_modules/dragula/dist/dragula.css';

.task-list-base {
	display: inline-flex;
	width: 49%;
	box-sizing: border-box;
	//border: 1px solid @red50;
	padding: 4px 8px 8px 4px;
}

@media (max-width:540px)  {
	.task-list-base {
		width: 100%;
	}
}

.task-list-bkg {
	border: 1px solid @black25;
	width: 100%;
	.drop-shadow(@hShadow:5px,@vShadow:5px);
	.border-radius(8px);
	padding: 10px;
	background-color: @white;
	position: relative;
}

.list-menu {
	border: 1px solid @black25;
	background-color: @white;
	.drop-shadow(2px,2px,5px,3px);
	.border-radius(4px);
	position: absolute;
	top: 40px;
	right: 10px;
	text-align: left;
	z-index: 100;
	button {
		text-align: left;
		width: 100%;
	}
}

.item-header {
	font-weight: bold;
	font-size: 1.1em;
	border-bottom: 1px solid @black50;
}

.name {
	font-weight: bold;
	font-size: 1.2em;
}
