<form *ngIf="item" class="item-editor" (submit)="save()">
	
	<input type="text" class="form-control" name="mame" [(ngModel)]="item.name" placeholder="{{getPlaceholder()}}">
	<div class="alert alert-danger" *ngIf="errorData.name">{{errorData.name}}</div>
	
	<div class="alert alert-danger" *ngIf="errorData.submitError">{{errorData.submitError}}</div>
	
	<div class="buttons">
		<button type="submit" class="btn btn-sm btn-success">Save</button>
		<button type="button" class="btn btn-sm btn-default" (click)="cancelEdit()">Cancel</button>
	</div>
	
</form>
